@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* header styles */
header{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    
    background-image: url(../assets/Hero-bg.png);
    padding: 30px 220px;
    

    
}
.header-section{
    width: 998px;
    height: 582px;
    
    margin: 25px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.header-content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.header-content h2{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

}
.header-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}
.header-content span{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    
}

.image-section-container{
    margin-top: 20px;
    margin: 25px auto;
    
    height: 580px;
    width: 990px; 
    
}

g

/* shared styles */
 header h2{
    font-size: 48px;
    font-weight: bolder;
    
 }
 .header-description-container{
    display: flex;
    text-align: center;
    
 }


 /* web dev styles */
 .web-dev-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 120px;
    
    padding: 80px 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

.web-dev-header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   margin-bottom: 48px;
   margin: 0 auto;
 }
 .web-dev-header h3{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 800;

 }

.web-dev-container h4{
   color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 700;

 }
.web-dev-container p{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
 }

.buton{
   padding: 12px 20px;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 600;
   
}


.web-dev-reason{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
 }


 /* Inspiration styles */
 .inspiration{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
 }
 .inspiration-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   margin-bottom: 48px;
   margin: 0 144px;
 }
.inspiration iframe{
   border-radius: 16px;
}
 .inspiration h4{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 800;
 }
 .inspiration p{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
 }
 .inspiration-video{
   padding: 32px;
   border-radius: 15px;
 }


 /* current-target styles */
 .current-target{
    width: 1140px;
    height: 463px;
    
    
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .current-target-heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin: 0 97px;
   margin-bottom: 48px;

 }
 .current-target h3{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 800;
 }
 .current-target p{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
 }
 .current-target h4{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 800;
 }
 .current-target a{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 700;
 }
.current-target-boxes{
   display: flex;
   gap: 24px;
}
.current-target-box1{
   width: 364px;
   height: 299px;
   
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 16px;
   background: rgba(255, 76, 30, 0.05);
   
}
.current-target-box2{
   width: 364px;
   height: 299px;
   
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 16px;
   background: rgba(0, 76, 232, 0.05);

}
.current-target-box3{
   width: 364px;
   height: 299px;
   
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 16px;
   background: rgba(255, 223, 0, 0.05);

}


/* next-target styles */
 /* .next-target{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 110px;
    border: 2px solid green;
 } */

 /* footer styles */
 footer{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 200px;
    
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 64px 48px;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;




 }
 footer content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   /* justify-content: center;
   align-items: center; */
 }

 footer h4{
   color: rgb(255, 255, 255);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 700;
   text-align: center;
 }

 footer p{
   color: rgb(255, 255, 255);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
 }
 
 footer form{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
 }
 footer textarea{
   width: 548px;
   height: 57px;
   
   padding: 19px 20px;
   
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
   
   border: none;
   border-radius: 8px;
   box-sizing: border-box;
   background: rgb(255, 255, 255);
 }
 footer input{
   padding: 17px 20px;
   border-radius: 8px;
   background: rgb(255, 255, 255);
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 600;
 }